<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="Personal Website" content="Mike-Tobias">
  <meta name="Mike Tobias" content="Personal Website">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
  {% block nav %}
    <div class="row">
      <div class="col-md-4 text-center">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/pdf/">PDF</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-5">
      </div>
      <div class="sign-in col-md-3 text-center">
        <form action="#">
          <input class="btn btn-default" type="submit" value="Sign in">
        </form>
      </div>
    </div>

  {% endblock %}

  {% block top-banner %}
  {% endblock %}

  {% block content %}{% endblock %}

</body>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script src="{% static 'main.js' %}"></script> -->
</html>
