{% extends "_base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block top-banner %}
<div class="container-fluid text-center">
  <h1>Blog top-banner.</h1>
  <p>
    Put blog posts below.
  </p>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="col-sm-12">
    {% if allow_add_post %}
      <form action="{% url 'new_post'%}">
        <input class="btn btn-info" type="submit" value="New Post">
      </form>
    {% endif %}
    </div>
    {% for post in posts %}
    <div class="col-sm-12">
      <img src="{{ post.image }}">
      <div class="caption">
        <h3>{{ post.title }}</h3>
        <h5>{{ post.created_at }}</h5>
        <p>{{ post.summary }}</p>
        <p><a href="{% url 'post' post.url %}" class="btn btn-default" role="button">Read more...</a></p>
      </div>
  </div>
  {% endfor %}
  </div>
  <div class="col-sm-2">
  </div>
</div> <!-- /.container-fluid -->
{% endblock %}
