{% extends "_base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page-header %} {{ header }}{% endblock %}
{% block page-subheader %} {{ subheader }} {% endblock %}

{% block top-banner %}
<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Welcome to the site!</h1>
    <p>
      Feel free to look around a read the lorem ipsum and stuff.
    </p>
  </div>
  {% endblock %}
  {% block content %}
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  {% endblock %}
</div>

